/* Importación de la paleta de colores centralizada */
@import './shared/styles/_color-palette.css';

/* Estilos base para tipografía */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--color-gris-oscuro);
    background-color: var(--color-primary-blanco);
}

/* Reset básico para asegurar que no haya espaciado no deseado */
* {
    box-sizing: border-box;
}

app-root {
    display: block;
    width: 100%;
    height: 100vh;
}

/* Estilos base para tipografía */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--color-primary-gris-oscuro);
    background-color: var(--color-primary-blanco);
}

/* Reset básico para asegurar que no haya espaciado no deseado */
* {
    box-sizing: border-box;
}

app-root {
    display: block;
    width: 100%;
    height: 100vh;
}
